.custom-navbar {
  height: 85px;
}
.nav-link {
  margin: 0px 35px;
  position: relative; /* Ensure proper positioning of the line */
}
.navbar-brand {
  font-weight: 600;
}

.nav-link::after {
  content: ''; /* Create a pseudo-element for the line */
  position: absolute; /* Position the line relative to its parent */
  bottom: -4px; /* Adjust the position of the line based on your design */
  left: 0; /* Position the line starting from the left */
  width: 100%; /* Make the line span the entire width of the parent */
  height: 4px; /* Set the height of the line */
  background-color: var(--secondary-color); /* Set the color of the line */
  transition: width 0.3s ease; /* Add transition for smooth animation */
  opacity: 0; /* Initially hide the line */
}

.nav-link:hover::after {
  width: 100%; /* Expand the line on hover */
  opacity: 1; /* Make the line visible on hover */
}



.custom-contact {
  background-color: var(--primary-color);
  padding: 0px 10px 0px 10px;
  border-radius: 22px;
}
.custom-contact > .nav-link {
  color: var(--accent-color);
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.custom-contact > .nav-link:hover {
  transform: scale(1.1); /* Scale up the button on hover */
}

.navbar-collapse {
  text-align: center;
  border-radius: 0px 0px 22px 22px;
}

.modal-content {
  background-color: var(--primary-color) !important;
  color: var(--accent-color);
  border-radius: 22px;
}
.modal-header {
  border-bottom: none;
}
input,
textarea {
  background-color: #343434 !important;
  color: var(--accent-color) !important;
}
.submit-button {
  margin: 20px 0px 0px 0px;
  background: var(--secondary-color);
  color: var(--accent-color);
  font-weight: bold;
}
.submit-button:hover {
  background: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

@media (max-width: 480px) {
  .navbar-brand {
    height: 60px !important;
    font-size: 0.8rem;
  }
  .navbar-collapse {
    background-color: black !important;
    text-align: center;
    border-radius: 22px 22px 22px 22px;
    margin-top: 8px;
  }
  .nav-link:focus,
  .nav-link:hover,
  .nav-link.active,
  .nav-link:focus {
    background-color: var(--secondary-color);
    border-radius: 22px;
    color: var(--accent-color) !important;
  }
  .custom-contact {
    background-color: black;
  }
  .custom-contact > .nav-link {
    color: var(--bs-nav-link-color);
  }
}
